{
  "openapi": "3.1.0",
  "info": {
    "title": "AIvoco Agent Management & Real-Time Voice API",
    "description": "Manage Voice AI Agents, transcribe calls, and connect to real-time AI voice conversations over WebSocket.",
    "version": "1.2.0"
  },
  "servers": [
    {
      "url": "https://call.aivoco.on.cloud.vispark.in"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "Agent": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "Unique identifier for the agent." },
          "name": { "type": "string", "description": "Name of the agent." },
          "system_message": { "type": "string", "description": "Defines the agent's personality and behavior." },
          "voice": { "type": "string", "enum": ["boy", "girl"], "description": "Voice identity of the agent." },
          "functions": { "$ref": "#/components/schemas/Functions" }
        }
      },
      "Functions": {
        "type": "object",
        "properties": {
          "functions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string" },
                "description": { "type": "string" },
                "api_url": { "type": "string" },
                "method": { "type": "string", "enum": ["GET", "POST"] },
                "parameters": {
                  "type": "object",
                  "properties": {
                    "type": { "type": "string" },
                    "properties": { "type": "object", "additionalProperties": true },
                    "required": { "type": "array", "items": { "type": "string" } }
                  }
                }
              },
              "required": ["name", "api_url", "method"]
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "message": { "type": "string" }
        }
      }
    }
  },
  "paths": {
    "/agents": {
      "get": {
        "summary": "List Agents",
        "security": [{ "ApiKeyAuth": [] }],
        "responses": {
          "200": {
            "description": "A list of agents.",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Agent" } } } }
          }
        }
      },
      "post": {
        "summary": "Create Agent (with optional Function Calling)",
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Agent" } } }
        },
        "responses": {
          "201": { "description": "Agent successfully created.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Agent" } } } }
        }
      }
    },
    "/agents/{agent_id}": {
      "patch": {
        "summary": "Update Agent",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [{ "name": "agent_id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Agent" } } } },
        "responses": {
          "200": { "description": "Agent updated successfully.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Agent" } } } }
        }
      },
      "delete": {
        "summary": "Delete Agent",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [{ "name": "agent_id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "204": { "description": "Agent deleted successfully." } }
      }
    },
    "/transcribe": {
      "post": {
        "summary": "Transcribe Audio",
        "description": "Transcribes audio using Vispark Transcription API.",
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "properties": { "api_key": { "type": "string" } } } } }
        },
        "responses": {
          "200": { "description": "Successful transcription", "content": { "application/json": { "schema": { "type": "object" } } } }
        }
      }
    },
    "/ws/{apiKey}/{agentId}": {
      "get": {
        "summary": "Real-Time Voice Connection (WebSocket)",
        "description": "Establish a two-way real-time speech-to-speech WebSocket connection with your AI agent.",
        "operationId": "connectRealTimeCall",
        "parameters": [
          { "name": "apiKey", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Your Aivoco API key." },
          { "name": "agentId", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Unique agent identifier." }
        ],
        "servers": [
          {
            "url": "wss://call.aivoco.on.cloud.vispark.in/ws/{apiKey}/{agentId}",
            "variables": {
              "apiKey": { "default": "YOUR_API_KEY" },
              "agentId": { "default": "YOUR_AGENT_ID" }
            }
          }
        ],
        "x-websocket": {
          "events": {
            "start": {
              "summary": "Start streaming audio to the AI agent.",
              "payload": {
                "type": "object",
                "properties": {
                  "event": { "type": "string", "example": "start" },
                  "mediaFormat": {
                    "type": "object",
                    "properties": {
                      "encoding": { "type": "string", "example": "audio/x-mulaw" },
                      "sampleRate": { "type": "integer", "example": 8000 },
                      "channels": { "type": "integer", "example": 1 }
                    }
                  }
                }
              }
            },
            "media": {
              "summary": "Send or receive µ-law encoded audio chunks.",
              "payload": {
                "type": "object",
                "properties": {
                  "event": { "type": "string", "example": "media" },
                  "media": {
                    "type": "object",
                    "properties": {
                      "track": { "type": "string", "example": "inbound" },
                      "chunk": { "type": "integer", "example": 25 },
                      "payload": { "type": "string", "example": "q0aZmJqampqamJiYmJiYmJgY..." }
                    }
                  }
                }
              }
            },
            "stop": {
              "summary": "Stop the streaming session.",
              "payload": {
                "type": "object",
                "properties": {
                  "event": { "type": "string", "example": "stop" },
                  "sequenceNumber": { "type": "integer", "example": 99 }
                }
              }
            }
          }
        },
        "responses": {
          "101": {
            "description": "Switching Protocols — WebSocket connection established."
          },
          "400": {
            "description": "Invalid API key or agent ID."
          }
        }
      }
    }
  }
}
